<!DOCTYPE html>
<html lang="en"></html>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<title>PROJECTS PAGE</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/projects.css"/>
	</head>
    <body>
        <div clas="container">
            <div class="header">
                <h4><a href="/">HOME</a>|<a href="/projects">PROJECTS</a>|<a href="/contact">CONTACT</a></h4>
            </div>

            <div class="aboutMe">
                <h3>Here Are Some of My Projects</h3>
                    <div class="projectList">
                        <div class="project">
                            <img src="~/images/image.jpg">
                            <div class="projectInfo">
                                <h4>Name: Project Name</h4>
                                <h4>Date: mm/dd/yyyy</h4>
                                <h4>Topic: Topic Here</h4>
                            </div>
                            
                        </div>
                        <div class="project">
                            <img src="~/images/image.jpg">
                            <div class="projectInfo">
                                <h4>Name: Project Name</h4>
                                <h4>Date: mm/dd/yyyy</h4>
                                <h4>Topic: Topic Here</h4>
                            </div>

                        </div>
                        <div class="project">
                            <img src="~/images/image.jpg">
                            <div class="projectInfo">
                                <h4>Name: Project Name</h4>
                                <h4>Date: mm/dd/yyyy</h4>
                                <h4>Topic: Topic Here</h4>
                            </div>

                        </div>
                        <div class="project">
                            <img src="~/images/image.jpg">
                            <div class="projectInfo">
                                <h4>Name: Project Name</h4>
                                <h4>Date: mm/dd/yyyy</h4>
                                <h4>Topic: Topic Here</h4>
                            </div>

                        </div>
                        <div class="project">
                            <img src="~/images/image.jpg">
                            <div class="projectInfo">
                                <h4>Name: Project Name</h4>
                                <h4>Date: mm/dd/yyyy</h4>
                                <h4>Topic: Topic Here</h4>
                            </div>

                        </div>
                        <div class="project">
                            <img src="~/images/image.jpg">
                            <div class="projectInfo">
                                <h4>Name: Project Name</h4>
                                <h4>Date: mm/dd/yyyy</h4>
                                <h4>Topic: Topic Here</h4>
                            </div>

                        </div>
                        <div class="project">
                            <img src="~/images/image.jpg">
                            <div class="projectInfo">
                                <h4>Name: Project Name</h4>
                                <h4>Date: mm/dd/yyyy</h4>
                                <h4>Topic: Topic Here</h4>
                            </div>

                        </div>
                    </div>
                

            </div>



        </div>
        
    
    </body>
</html>